.wrapper {
    padding: 20px 100px;
}
.font-size {
    font-size:18px;
}
header {
    background-color: brown;
    color: white;
    text-align:center;
}
.banner {
    display: block;
    margin: auto;
}
.italic-text {
    font-style: italic;
}
.blue-text {
    color: navy;
}
.lightblue-text {
    color: blue;
}
.cars-wrapper {
    margin: auto;
    text-align: center;
}
.cars {
    display: inline-block;
    margin: 0px 5px;
    border: 3px dashed black;
}
.footer {
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
}